.card-container {
  max-height: 100vh;
  overflow: auto;
  padding: 20px;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.finger:hover {
  cursor: pointer;
}

.bg-login-image {
  background-image: url(public/4.png);
  background-size: cover; /* You can adjust this property based on your design requirements */
}

